@model VacationRequestSystem.Models.CalendarModel
@using System.Globalization

@{
    int curDay = 1;
    int daysInMonth = DateTime.DaysInMonth(@Model.CurrentMonth.Year, @Model.CurrentMonth.Month);
    DateTime modelDate = Model.CurrentMonth;
}

@Styles.Render("~/Content/Calendar.css")

<div id="calendar">
    <div class="title">
        @Ajax.ActionLink("Previous month",
        "DisplayCalendarNext",
        "Calendar",
        new { userId = -1, currentMonth = Model.CurrentMonth.AddMonths(-1) },
        new AjaxOptions { UpdateTargetId = "calendar" })

        @Model.CurrentMonth.ToString("MMMM", CultureInfo.InvariantCulture) @Model.CurrentMonth.Year

        @Ajax.ActionLink("Next month",
        "DisplayCalendarNext",
        "Calendar",
        new { userId = -1, currentMonth = Model.CurrentMonth.AddMonths(1) },
        new AjaxOptions { UpdateTargetId = "calendar" })
    </div>

    <table border="1">
        <tr><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th class="holiday">Sat</th><th class="holiday">Sun</th></tr>
        @while (curDay <= daysInMonth)
        {
            <tr>
                @for (int i = 0; i < 7; i++)
                {
                    int dayOfWeek = (int)(modelDate.DayOfWeek + 6) % 7;
                    <td>
                        <span class="date">
                            @if (i == dayOfWeek && curDay <= daysInMonth)
                            {
                                @modelDate.Day
                                modelDate = modelDate.AddDays(1);
                                curDay += 1;
                            }
                            else
                            {
                                @:&nbsp;
                        }
                        </span>
                    </td>
                }
            </tr>
        }
    </table>
    <p>
</div>